.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;

  background-color: rgba(255, 255, 255, 0.8);
}

body {
  background-color: beige;
}

.header-image {
  margin-top: 85px;
}

.header-image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.image {
  display: flex;
  width: 100%;
  height: 400px;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.container {
  max-width: 1500px;
  margin: 30px auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: serif;
}

.kpi-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.kpi-card {
  color: white;
  background-color: #007a8c;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.2s ease;
  margin-bottom: 60px;
}

.kpi-card.kpi-1 {
  border-top: 4px solid aqua;
}

.kpi-card.kpi-2 {
  border-top: 4px solid aqua;
}

.kpi-card.kpi-3 {
  border-top: 4px solid aquamarine;
}

.kpi-card:hover {
  transform: translateY(-10px);
}

.image-flex {
  display: flex;
  max-width: 1500px;
  margin: auto;
  align-items: center;
  gap: 20px;
}

.image-flex-content {
  padding: 10px;
}

h2 {
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  color: #007a8c;
}

h3 {
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  color: white;
}

p {
  font-size: 20px;
}

li {
  font-size: 20px;
  line-height: 50px;
}

.bold {
  font-weight: bold;
}
